<div class=container>
    <div class=jumbotron>
        <h1>Quotable Me</h1>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <app-quote-form></app-quote-form>
        </div>

        <div class="col-md-8">
            <div class=jumbotron id="quotes">
                <ul>
                    <li *ngFor='let quote of quotes; let i = index'>
                        <button (click)='showDetails(i)'>{{quote.quote}}</button>
                        <app-quote-detail (upVote)='upVote($event, i)' (downVote)='downVote($event, i)'
                            (quotesDelete)='deleteQuotes($event, i)' *ngIf='quote.describe' [quote]='quote'>
                        </app-quote-detail>
                        <p>Created On </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>